# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environnements virtuels
.venv/
venv/
env/

# Variables d'environnement
.env

# Base de données
*.db
*.sqlite3

# Logs
*.log

# Caches outils
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
